    .red {
        color: red;
    }

    .blue {
        color: blue;
    }

    .green {
        color: green;
    }

    .big {
        font-size: large;
    }

    .tiny {
        font-size: small;
    }

    .center {
        text-align: center;
    
    }

    .bold {
        font-weight: bold;
    }

    .font {
        font-family: Arial;
    }

    .multiple {
        font-size: large;
        color: orange;
        font-weight: bold;
    }

    .styledFont {
        font-size: large;
        font-family: Arial, Arial, sans-serif;
        color: green;
    }

    .border {
    border-width: 10px;
    border-style: solid;
    border-color: orange;

    }