
<style>
    .red {
        color: red;
    }

    .blue {
        color: blue;
    }

    .green {
        color: green;
    }

    .big {
        font-size: large;
    }

    .tiny {
        font-size: small;
    }

    .center {
        text-align: center;
    
    }

    .bold {
        font-weight: bold;
    }

    .font {
        font-family: fantasy;
    }

    .styledFont {
        font-size: large;
        font-style: bold;
        color: orange;
    }
    </style>
    <title>CSS Practice</title>
    <!-- Link to your external CSS -->
